language: python
python:
  - "3.5"
  - "3.6"

env:
  - DJANGO_VERSION=1.11
  - DJANGO_VERSION=2.0

# command to install dependencies
install:
  - cd ./example;
  - pip install -r requirements.txt
  - pip uninstall -y -q django
  - pip install -q Django==$DJANGO_VERSION

# command to run tests
script:
    coverage run --rcfile=$(pwd)/../.coveragerc manage.py test test_chamber.tests --settings=dj.settings.settings -v 2

after_success:
    coveralls
